li {
    color: black;
    /* padding: 15px 0; */
    display:inline-block;
}

body {
    font-size: 24px;
}

.navbar {
    background: gray;
    padding: 0;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.navbar li {
    display: inline-block;
    text-align: center;
}
  
nav{
      width: auto;
}

.title {
    width: auto;
    color: whitesmoke;
    font-size: 30px;
}
  
.message{
      width: auto;
}
  
.scores {
    width: auto;
    color: darkred;
    font-style: bold;
}